:root {
    /* Default colors (Dark Mode) */
    --background-color-top: #3D63DD;
    --background-color-bottom: #111111;
    --container-color-top: #222325;
    --container-color-bottom: #111113;
    --text-color: #ffffff;
    --header-background-color: #111111;
    --header-text-color: #ffffff;
    --button-background-color: #172448;
    --button-text-color: #ffffff;
    --button-hover-background-color: #243974;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Light Mode colors */
        --background-color-top: #3D63DD;
        --background-color-bottom: #FFFFFF;
        --container-color-top: #FCFCFD;
        --container-color-bottom: #EFF0F3;
        --text-color: #000000;
        --header-background-color: #FFFFFF;
        --header-text-color: #000000;
        --button-background-color: #EDF2FE;
        --button-text-color: #000000;
        --button-hover-background-color: #D0DFFF;
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--background-color-top), var(--background-color-bottom));
    color: var(--text-color);
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

header, footer {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

nav button {
    margin: 0 1em;
    padding: 0.5em 1em;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
}

nav button:hover {
    background-color: var(--button-hover-background-color);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, select, button {
    margin: 0.5em 0;
}

button {
    padding: 0.8em 1.8em; /* Increase the padding to make the button larger */
    font-size: 1.2em; /* Increase the font size */
    border-radius: 8px; /* Set the border radius to create rounded corners */
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

footer button {
    margin-top: 10px; /* Adjust as needed */
    padding: 0.5em 1em;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
}

footer button:hover {
    background-color: var(--button-hover-background-color);
}

.input-lock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-lock input {
    margin-right: 0.5em;
}

.input-lock button {
    margin-left: 0.5em;
}

.locked {
    background-color: #ddd;
    pointer-events: none;
}

.container {
    max-width: 90%; /* Set a maximum width for the container */
    margin: auto; /* Center the container horizontally */
    padding: 20px; /* Add padding inside the container */
    border-radius: 15px; /* Set the border radius to create rounded corners */
    background-color: transparent; /* Set background color to transparent */
    background-image: linear-gradient(to bottom, var(--container-color-top), var(--container-color-bottom)); /* Set the background image */    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Include padding and border in the total width and height */
}

.container h2 {
    margin-top: 0; /* Remove default margin */
    margin-bottom: 20px; /* Add margin below the heading */
}

.container p {
    margin-top: 0; /* Remove default margin */
    margin-bottom: 20px; /* Add margin below the paragraph */
}
